
html, body, #app {
  margin: 0;
  padding: 0;
}

#app {
  -webkit-app-region: drag;
}

body {
  color: rgb(230, 230, 230);
  font-family: Arial, serif;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.fa-interactive {
  cursor: pointer !important;
}
