
html, body, #app {
  width: 100%;
  height: 100%;
}

#app {
  -webkit-app-region: drag;
}

body {
  background-color: #151718;
  color: rgb(230, 230, 230);
  font-family: Arial, serif;
}
